In [7]:
# Exercise 5: Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.
# list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]



num_element = int(input("Enter the number of elemnts in your list"))

list_1 = []
for i in range(0,num_element):
    element = int(input("Enter number as element =  "))
    list_1.append(element)

print("Your list is: ",list_1) 
print("numbers divisible by five are ")
for i in list_1:
    
    if i>150:
        break
    if i%5==0:
        print(i)

Enter the number of elemnts in your list3
Enter number as element =  10
Enter number as element =  21
Enter number as element =  150
Your list is:  [10, 21, 150]
numbers divisible by five are
10
150

In [16]:
# Print the following pattern using for loop
# 5 4 3 2 1 
# 4 3 2 1 
# 3 2 1 
# 2 1 
# 1

num_rows = int(input("Enter number of rows = "))

for i in range(num_rows,0,-1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print()

Enter number of rows = 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [35]:
# Exercise 8: Reverse the following list using for loop
# list1 = [10, 20, 30, 40, 50]

list1 = [10, 20, 30, 40, 50]
list1_rev = []
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

50
40
30
20
10

In [36]:
list1 = [10, 20, 30, 40, 50]
print(list1[::-1])

[50, 40, 30, 20, 10]

In [38]:
# Exercise 9: Display numbers from -10 to -1 using for loop
# Expected output:

# -10
# -9
# -8
# -7
# -6
# -5
# -4
# -3
# -2
# -1


for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [45]:
# Exercise 11: Write a program to display all prime numbers within a range

start = int(input("start =  "))
end = int(input("End = "))

print("prime numbers within",start,"to",end,"are")
for i in range(start,end+1):
    if i>1:
        for j in range(2,i):
            if (i%j) ==0:
                break
        else:
            print(i)

start =  1
End = 100
prime numbers within 1 to 100 are
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [66]:
# Exercise 12: Display Fibonacci series up to 10 terms
num = int(input("Enter number  = "))

a=0
b=1
print(a)
print(b)
for i in range(2,num):
    c=a+b
    a=b
    b=c
    print(c)

Enter number  = 1
0
1

In [57]:
# Exercise 3: Accept number from user and calculate the sum of all number from 1 to a given number
# For example, if user entered 10 the output should be 55.
def sum_num_all(num):
    sum = 0
    for i in range(1,num+1):
        sum = sum+i
    print("sum of all number from 1 to",num,"is =",sum) 
    


num = int(input("Enter number  = "))

sum_num_all(num)

Enter number  = 10
sum of all number from 1 to 10 is = 55

In [59]:
# Exercise 4: Print multiplication table of a given number
# For example, num = 2 so the output should be
# 2
# 4
# 6
# 8
# 10
# 12
# 14
# 16
# 18
# 20

num = int(input("Enter number  = "))
print("multiplication table of",num,"is")
for i in range(1,11):
    multi = i*num
    print(multi)

Enter number  = 3
multiplication table of 3 is
3
6
9
12
15
18
21
24
27
30

In [60]:
def multiplication_table(num):
    print("multiplication table of",num,"is")
    for i in range(1,11):
        multi = i*num
        print(multi)

multiplication_table(5)

multiplication table of 5 is
5
10
15
20
25
30
35
40
45
50