In [18]:
# Exercise 13: Print multiplication table form 1 to 10
num=11
for i in range(1,num):
    for j in range(1,num):
        print(i*j, end = " ") 

    print()
    

num=3

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [24]:
# Print downward Half-Pyramid Pattern with Star (asterisk)
# * * * * *  
# * * * *  
# * * *  
# * *  
# *
rows = int(input("Enter number of rows"))

for i in range(rows+1,1,-1):
    for j in range(1,i):
        print("*",end=" ")
    print()

Enter number of rows5
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
# Note here exp is a non-negative integer, and the base is an integer.

# Expected output

# Case 1:
# base = 2
# exponent = 5
# 2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)

# Case 2:
# base = 5
# exponent = 4
# 5 raises to the power of 4 is: 625 
# # i.e. (5 *5 * 5 *5 = 625)

def exponent(base,exp):
    result

In [36]:
print("%o" % (8))

10

In [38]:
floatNumbers = []
n = int(input("Enter the list size : "))


while n>0:
    print("Enter number at location", ":")
    item = float(input())
    floatNumbers.append(item)
    n=n-1
    
print("User List is ", floatNumbers)

Enter the list size : 5
Enter number at location 2 :
5.2
Enter number at location 2 :
2.2
Enter number at location 2 :
3.2
Enter number at location 2 :
5
Enter number at location 2 :
6
User List is  [5.2, 2.2, 3.2, 5.0, 6.0]